// Theme colors
$theme-color: #1565c0;
$bg-color: #ffffff;
$text-color: #333;
$dark-bg-color: #1b1b1f;
$dark-text-color: rgba(255, 255, 255, 0.85);
$dark-border-color: rgba(30, 80, 160, 0.35);

// Link color
$link-color: #1565c0;