// 主色调 - 参考 Theo Docs 的 Forest Green
$theme-color: #791861;
$bg-color: #ffffff;
$text-color: #3c3c43;
$dark-bg-color: #1b1b1f;
$dark-text-color: rgba(255, 255, 255, 0.87);
$dark-border-color: rgba(82, 82, 89, 0.68);

// 链接色
$link-color: #79186c;